## Summary

To explore the result stated in https://www.kaggle.com/titericz/the-property-by-giba

In [139]:
import time
import sys
sys.path.append('../../common_routines/')

from relevant_functions import (get_train_data,
                                get_test_data)
import pandas as pd
import numpy as np

from sklearn.metrics import mean_squared_log_error

In [80]:
INPUT_DIR = '../../input/'

In [81]:
ts = time.time()
train = get_train_data(INPUT_DIR)
time.time() - ts

5.085395812988281

In [82]:
FEATURES = ['f190486d6', '58e2e02e6', 'eeb9cd3aa', '9fd594eec', '6eef030c1', 
            '15ace8c9f', 'fb0f5dbfe', '58e056e12', '20aa07010', '024c577b9', 
            'd6bb78916', 'b43a7cfd5', '58232a6fb', '1702b5bf0', '324921c7b', 
            '62e59a501', '2ec5b290f', '241f0f867', 'fb49e4212', '66ace2992', 
            'f74e8f13d', '5c6487af1', '963a49cdc', '26fc93eb7', '1931ccfdd', 
            '703885424', '70feb1494', '491b9ee45', '23310aa6f', 'e176a204a', 
            '6619d81fc', '1db387535', 'fc99f9426', '91f701ba2', '0572565c2', 
            '190db8488', 'adb64ff71', 'c47340d97', 'c5a231d81', '0ff32eb98']

In [83]:
temp_array = [2072,3493,379,2972,2367,4415,2791,3980,194,1190,3517,811,4444]

In [84]:
row_numbers = [x-1 for x in temp_array]

In [85]:
row_numbers

[2071, 3492, 378, 2971, 2366, 4414, 2790, 3979, 193, 1189, 3516, 810, 4443]

In [86]:
train[['target'] + FEATURES].iloc[row_numbers]

,target,f190486d6,58e2e02e6,eeb9cd3aa,9fd594eec,6eef030c1,15ace8c9f,fb0f5dbfe,58e056e12,20aa07010,...,6619d81fc,1db387535,fc99f9426,91f701ba2,0572565c2,190db8488,adb64ff71,c47340d97,c5a231d81,0ff32eb98
2071,3513333.34,0.00,1477600.00,1586888.88,75000.00,3147200.00,466461.54,1600000.00,0.00,440000.00,...,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76
3492,160000.00,310000.00,0.00,1477600.00,1586888.88,75000.00,3147200.00,466461.54,1600000.00,0.00,...,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76
378,2352551.72,3513333.34,310000.00,0.00,1477600.00,1586888.88,75000.00,3147200.00,466461.54,1600000.00,...,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76
2971,280000.00,160000.00,3513333.34,310000.00,0.00,1477600.00,1586888.88,75000.00,3147200.00,466461.54,...,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76
2366,5450500.00,2352551.72,160000.00,3513333.34,310000.00,0.00,1477600.00,1586888.88,75000.00,3147200.00,...,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76
4414,1359000.00,280000.00,2352551.72,160000.00,3513333.34,310000.00,0.00,1477600.00,1586888.88,75000.00,...,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76
2790,60000.00,5450500.00,280000.00,2352551.72,160000.00,3513333.34,310000.00,0.00,1477600.00,1586888.88,...,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76
3979,12000000.00,1359000.00,5450500.00,280000.00,2352551.72,160000.00,3513333.34,310000.00,0.00,1477600.00,...,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76
193,500000.00,60000.00,1359000.00,5450500.00,280000.00,2352551.72,160000.00,3513333.34,310000.00,0.00,...,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76
1189,1878571.42,12000000.00,60000.00,1359000.00,5450500.00,280000.00,2352551.72,160000.00,3513333.34,310000.00,...,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76
3516,814800.00,500000.00,12000000.00,60000.00,1359000.00,5450500.00,280000.00,2352551.72,160000.00,3513333.34,...,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76
810,307000.00,1878571.42,500000.00,12000000.00,60000.00,1359000.00,5450500.00,280000.00,2352551.72,160000.00,...,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76
4443,528666.66,814800.00,1878571.42,500000.00,12000000.00,60000.00,1359000.00,5450500.00,280000.00,2352551.72,...,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76,1563411.76

In [87]:
train[FEATURES[:-2]]

,f190486d6,58e2e02e6,eeb9cd3aa,9fd594eec,6eef030c1,15ace8c9f,fb0f5dbfe,58e056e12,20aa07010,024c577b9,...,23310aa6f,e176a204a,6619d81fc,1db387535,fc99f9426,91f701ba2,0572565c2,190db8488,adb64ff71,c47340d97
0,1866666.66,12066666.66,700000.00,600000.0,900000.0,4100000.00,0.0,0.0,0.0,0.0,...,0.0,0.0,400000.0,0.0,0.0,5000000.0,400000.0,0.0,0.0,0.0
1,0.00,2850000.00,2225000.00,1800000.0,800000.0,0.00,0.0,3300000.0,2200000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.00,0.00,0.00,0.0,0.0,0.00,0.0,6000000.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2000000.00,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.00,0.00,0.00,0.0,37662000.0,0.00,4000000.0,6700000.0,2000000.0,5400000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4454,0.00,680000.00,3191666.66,300000.0,1250000.0,860000.00,310000.0,2429000.0,70000.0,2250000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4455,242666.66,0.00,37333.34,0.0,62000.0,50000.00,69000.0,0.0,375000.0,375000.0,...,375000.0,375000.0,375000.0,375000.0,375000.0,375000.0,375000.0,375000.0,375000.0,375000.0
4456,0.00,4640000.00,2597000.00,0.0,14886000.0,3358333.34,0.0,3665000.0,0.0,600000.0,...,319612000.0,0.0,0.0,0.0,0.0,0.0,0.0,1000000.0,34738000.0,0.0
4457,200000.00,0.00,0.00,1900000.0,0.0,0.00,0.0,0.0,0.0,0.0,...,1500000.0,1500000.0,1500000.0,1500000.0,1500000.0,1500000.0,1500000.0,1500000.0,1500000.0,1500000.0
4458,0.00,0.00,0.00,0.0,19200000.0,14500000.00,18360000.0,0.0,20000000.0,10000000.0,...,0.0,0.0,0.0,13300000.0,0.0,0.0,8000000.0,0.0,0.0,0.0

In [88]:
train[FEATURES]

,f190486d6,58e2e02e6,eeb9cd3aa,9fd594eec,6eef030c1,15ace8c9f,fb0f5dbfe,58e056e12,20aa07010,024c577b9,...,6619d81fc,1db387535,fc99f9426,91f701ba2,0572565c2,190db8488,adb64ff71,c47340d97,c5a231d81,0ff32eb98
0,1866666.66,12066666.66,700000.00,600000.0,900000.0,4100000.00,0.0,0.0,0.0,0.0,...,400000.0,0.0,0.0,5000000.0,400000.0,0.0,0.0,0.0,0.00,0.0
1,0.00,2850000.00,2225000.00,1800000.0,800000.0,0.00,0.0,3300000.0,2200000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
2,0.00,0.00,0.00,0.0,0.0,0.00,0.0,6000000.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
3,2000000.00,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
4,0.00,0.00,0.00,0.0,37662000.0,0.00,4000000.0,6700000.0,2000000.0,5400000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8000000.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4454,0.00,680000.00,3191666.66,300000.0,1250000.0,860000.00,310000.0,2429000.0,70000.0,2250000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
4455,242666.66,0.00,37333.34,0.0,62000.0,50000.00,69000.0,0.0,375000.0,375000.0,...,375000.0,375000.0,375000.0,375000.0,375000.0,375000.0,375000.0,375000.0,375000.00,375000.0
4456,0.00,4640000.00,2597000.00,0.0,14886000.0,3358333.34,0.0,3665000.0,0.0,600000.0,...,0.0,0.0,0.0,0.0,0.0,1000000.0,34738000.0,0.0,17057333.34,3090000.0
4457,200000.00,0.00,0.00,1900000.0,0.0,0.00,0.0,0.0,0.0,0.0,...,1500000.0,1500000.0,1500000.0,1500000.0,1500000.0,1500000.0,1500000.0,1500000.0,1500000.00,1500000.0
4458,0.00,0.00,0.00,0.0,19200000.0,14500000.00,18360000.0,0.0,20000000.0,10000000.0,...,0.0,13300000.0,0.0,0.0,8000000.0,0.0,0.0,0.0,0.00,5100000.0

In [89]:
d1 = train[FEATURES[:-2]].apply(tuple, axis=1).to_frame().rename(columns={0:'key'})

In [90]:
d2 = train[FEATURES[2:]].apply(tuple, axis=1).to_frame().rename(columns={0:'key'})

In [91]:
d2['pred'] = train[FEATURES[0]]

In [92]:
d2

                                                    key        pred
0     (700000.0, 600000.0, 900000.0, 4100000.0, 0.0,...  1866666.66
1     (2225000.0, 1800000.0, 800000.0, 0.0, 0.0, 330...        0.00
2     (0.0, 0.0, 0.0, 0.0, 0.0, 6000000.0, 0.0, 0.0,...        0.00
3     (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  2000000.00
4     (0.0, 0.0, 37662000.0, 0.0, 4000000.0, 6700000...        0.00
...                                                 ...         ...
4454  (3191666.66, 300000.0, 1250000.0, 860000.0, 31...        0.00
4455  (37333.34, 0.0, 62000.0, 50000.0, 69000.0, 0.0...   242666.66
4456  (2597000.0, 0.0, 14886000.0, 3358333.34, 0.0, ...        0.00
4457  (0.0, 1900000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...   200000.00
4458  (0.0, 0.0, 19200000.0, 14500000.0, 18360000.0,...        0.00

[4459 rows x 2 columns]

In [93]:
d1

                                                    key
0     (1866666.66, 12066666.66, 700000.0, 600000.0, ...
1     (0.0, 2850000.0, 2225000.0, 1800000.0, 800000....
2     (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 6000000.0,...
3     (2000000.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
4     (0.0, 0.0, 0.0, 0.0, 37662000.0, 0.0, 4000000....
...                                                 ...
4454  (0.0, 680000.0, 3191666.66, 300000.0, 1250000....
4455  (242666.66, 0.0, 37333.34, 0.0, 62000.0, 50000...
4456  (0.0, 4640000.0, 2597000.0, 0.0, 14886000.0, 3...
4457  (200000.0, 0.0, 0.0, 1900000.0, 0.0, 0.0, 0.0,...
4458  (0.0, 0.0, 0.0, 0.0, 19200000.0, 14500000.0, 1...

[4459 rows x 1 columns]

In [94]:
d3 = d2[~d2.duplicated(['key'], keep=False)]

In [95]:
d1.merge(d3, how='left', on='key').pred.fillna(0)

0       38000000.0
1         600000.0
2              0.0
3              0.0
4              0.0
           ...
4454     1065000.0
4455       48000.0
4456     2800000.0
4457    10000000.0
4458    20000000.0
Name: pred, Length: 4459, dtype: float64

In [100]:
def get_pred(data, lag=2):
    d1 = data[FEATURES[:-lag]].apply(tuple, axis=1).to_frame().rename(columns={0: 'key'})
    d2 = data[FEATURES[lag:]].apply(tuple, axis=1).to_frame().rename(columns={0: 'key'})        
    d2['pred'] = data[FEATURES[lag-2]]
    d3 = d2[~d2.duplicated(['key'], keep=False)]
    return d1.merge(d3, how='left', on='key').pred.fillna(0)

In [144]:
def get_all_pred(data, max_lag):
    target = pd.Series(index=data.index, data=np.zeros(data.shape[0]))
    for i in range(2, max_lag + 1):
        pred = get_pred(data, i)
        indices_to_be_changed = (target ==0 ) & (pred != 0)
        target[indices_to_be_changed] = pred[indices_to_be_changed]
    return target

In [147]:
for max_lag in range(2, 30):
    predictions = get_all_pred(train, max_lag)
    non_zero_pred_indices = predictions != 0
    non_zero_pred = predictions[non_zero_pred_indices]
    target_corr_non_zero_pred = train.target[non_zero_pred_indices]
    print('##################')
    print('Max lag is  ', max_lag)
    print('Number of relevant predictions is ', len(non_zero_pred))
    print('Prediction score is ', np.sqrt(mean_squared_log_error(non_zero_pred, target_corr_non_zero_pred)))

##################
Max lag is   2
Number of relevant predictions is  1351
Prediction score is  0.14119979229541013
##################
Max lag is   3
Number of relevant predictions is  1947
Prediction score is  0.11772801045868977
##################
Max lag is   4
Number of relevant predictions is  2340
Prediction score is  0.1700015225894321
##################
Max lag is   5
Number of relevant predictions is  2586
Prediction score is  0.16694209979909475
##################
Max lag is   6
Number of relevant predictions is  2754
Prediction score is  0.1617700665181974
##################
Max lag is   7
Number of relevant predictions is  2899
Prediction score is  0.1578320556062351
##################
Max lag is   8
Number of relevant predictions is  3014
Prediction score is  0.17261095273421487
##################
Max lag is   9
Number of relevant predictions is  3110
Prediction score is  0.19187680371761628
##################
Max lag is   10
Number of relevant predictions is  3188
Prediction score is  0.19145381804966508
##################
Max lag is   11
Number of relevant predictions is  3237
Prediction score is  0.1927802474230348
##################
Max lag is   12
Number of relevant predictions is  3296
Prediction score is  0.19219457876972026
##################
Max lag is   13
Number of relevant predictions is  3336
Prediction score is  0.19103885825602165
##################
Max lag is   14
Number of relevant predictions is  3382
Prediction score is  0.23096553241898027
##################
Max lag is   15
Number of relevant predictions is  3416
Prediction score is  0.23161961973204898
##################
Max lag is   16
Number of relevant predictions is  3450
Prediction score is  0.23047547978875224
##################
Max lag is   17
Number of relevant predictions is  3470
Prediction score is  0.2457746360102802
##################
Max lag is   18
Number of relevant predictions is  3489
Prediction score is  0.26038133294701793
##################
Max lag is   19
Number of relevant predictions is  3511
Prediction score is  0.25956427354774186
##################
Max lag is   20
Number of relevant predictions is  3528
Prediction score is  0.2590809317626569
##################
Max lag is   21
Number of relevant predictions is  3544
Prediction score is  0.2584954373831652
##################
Max lag is   22
Number of relevant predictions is  3556
Prediction score is  0.2580589122689003
##################
Max lag is   23
Number of relevant predictions is  3573
Prediction score is  0.2643848665233196
##################
Max lag is   24
Number of relevant predictions is  3583
Prediction score is  0.26804343610853054
##################
Max lag is   25
Number of relevant predictions is  3595
Prediction score is  0.2676215802813615
##################
Max lag is   26
Number of relevant predictions is  3605
Prediction score is  0.2687451906344324
##################
Max lag is   27
Number of relevant predictions is  3611
Prediction score is  0.26852182570544036
##################
Max lag is   28
Number of relevant predictions is  3622
Prediction score is  0.27353806515809254
##################
Max lag is   29
Number of relevant predictions is  3628
Prediction score is  0.2768546928267242

### Generate predictions on test data.

In [148]:
ts = time.time()
test = get_test_data(INPUT_DIR)
time.time() - ts

69.55923295021057

In [149]:
ts = time.time()
predictions_test_data = get_all_pred(test, 25)
time.time() - ts

In [151]:
np.sum(predictions_test_data !=0)

7689

In [152]:
test['has_time_series_prediction'] = predictions_test_data !=0

In [153]:
old_predictions_csv = pd.read_csv('../gradient_boosting/submission_gradient_boosting_lightgbm.csv')

In [154]:
old_predictions_csv.target

0        1.855921e+06
1        1.855921e+06
2        4.025680e+06
3        3.571845e+06
4        1.855921e+06
             ...
49337    1.475604e+06
49338    1.150840e+07
49339    1.051937e+06
49340    3.056704e+05
49341    1.980165e+06
Name: target, Length: 49342, dtype: float64

In [155]:
old_predictions_ID_to_target = dict(zip(old_predictions_csv.ID, old_predictions_csv.target))

In [157]:
predictions_test_data[predictions_test_data!=0]

10       20000000.00
43        2943750.00
48        4000000.00
54        2022666.66
59       20000000.00
            ...
49309      360000.00
49314     6535000.00
49325    16000000.00
49326    20000000.00
49332     1000000.00
Length: 7689, dtype: float64

In [158]:
test[predictions_test_data!=0].ID

10       0009efcc5
43       0041861b4
48       0045c123e
54       004dd971b
59       00551f45d
           ...
49309    ffd20c73c
49314    ffd6e2cf8
49325    ffe8ed3d6
49326    ffea1065e
49332    ffef8aa08
Name: ID, Length: 7689, dtype: object

In [159]:
time_series_predictions_ID_to_target = dict(zip(test[predictions_test_data!=0].ID, predictions_test_data[predictions_test_data!=0]))

In [160]:
test['target'] = test.ID.apply(
    lambda x : time_series_predictions_ID_to_target.get(x, old_predictions_ID_to_target.get(x, 0)))

In [161]:
test[['ID', 'target']].to_csv('submission_time_series_and_lightgbm.csv', index=False)